---
layout: default
title: Proud Potato Peeler
---

<script src="https://cdn.tailwindcss.com"></script>
{% include navbar.html %}
<div class="min-h-screen text-slate-900 overflow-x-hidden" style="background-image: url('assets/images/background.png'); background-size: cover; background-position: center; background-attachment: fixed;">
{% include potato/hero.html %}
<div id="about">{% include potato/about.html %}</div>
<div id="bakery">{% include potato/gallery.html %}</div>
{% include potato/bigger.html %}
<div id="menu">{% include potato/menu.html %}</div>
<div id="reviews">{% include potato/testimonial.html %}</div>
<div id="faqs">{% include potato/faq.html %}</div>
<div id="instagram">{% include potato/map.html %}</div>
</div>
