<section class="relative min-h-[70vh] md:min-h-screen relative overflow-hidden">
<div class="w-full">
    <img src="{{ '/assets/images/red-shape-alani1.svg' | relative_url }}" alt="" class="w-full block">
  </div>
<div>
  <img src="{{ '/assets/images/cta-alani.svg' | relative_url }}" alt="CTA Alani" class="w-full h-auto">
</div>
 <div class="w-full" style="margin-top: -1px;">
    <img src="{{ '/assets/images/green-shape-alani1.svg' | relative_url }}" alt="" class="w-full block">
  </div>
</section>
